<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>Hello <span th:text="${MyCustomName}">world!</span></h1>
	<p>This page is the root view served when visiting <a href="/">localhost:8080/</a></p>
	
	<p>it contains a model with an extra attribute called other containing '<span th:text="${other}">default text</span>' and this is more text in the first paragraph</p>
	<p>this is a second paragraph with an attribute called another containing '<span th:text="${another}">default alternate text</span>' and it too has more text in the second paragraph</p>
</body>
</html>